/* .container {
  display: flex;
  flex-wrap: wrap;

  margin: 20px;
  gap: 12px;
  overflow: scroll;
  justify-content: center;
  align-items: center;
}

.event {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  max-width: 300px;
  min-height: 200px;
  padding: 1rem;
  border: 1px solid black;
}

.linkStyles {
  color: white;
  font-size: 18px;
  padding: 4px 8px;
  background-color: rgb(0, 85, 119);
  border: 1px solid rgb(0, 0, 113);
  border-radius: 10px;
} */

.gallery {
    margin: 0px auto;
    display: flex;
    width: 980px;
    height: 200px;
}

.gallery .imgGallery {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: .5s ease;
}

.imgGallery {
    padding: 0px;
}

.gallery .imgGallery:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.imageButton {
    margin-top: 157px;
    margin-left: 10px;
    padding: 5px;
    width: 50px;
    height: 30px;
    text-align: center;
    transform: translateX(-150%);
    color: white;
    border: none;
    cursor: pointer;
}

.imageContainer:hover .imageButton {
    opacity: 1;
}
