@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.dad {
  display: flex;
  justify-content: center;
}

.gallery {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 8px;
  perspective: 600px;
}

.imgGallery {
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  overflow: hidden;
  transition: .5s;
}

.linkStyles {
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: white;
  background: linear-gradient(#4f41a2, #395aa0);
  text-align: center;
  text-decoration: none;
  display: block;
}

.linkStyles:hover {
  background: linear-gradient(#382c79, #395aa0);
}

.gallery:hover .imgGallery {
  transform: rotateY(180deg);
}

.gallery .imgGallery {
  backface-visibility: hidden;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  transition: .5s;
}

.front {
  transform: rotateY(0deg);
}

.front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front h3 {
  position: relative;
  top: 288px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: white;
  background: linear-gradient(#4f41a2, #395aa0);
  opacity: 80%;
  text-align: center;
}

.back {
  transform: rotateY(180deg);
  background: linear-gradient(#7864ec, #4e78d4);
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.back .link {
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  line-height: 50px;
}

.back .link a {
  color: white;
}

.back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.back p {
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  letter-spacing: 1px;
}

.gallery:hover .front {
  transform: rotateY(180deg);
}

.gallery:hover .back {
  transform: rotateY(360deg);
}
