.container {
  width: 100vw;
  height: 100vh;
  background: #2980B9; 
  background: -webkit-linear-gradient(to top, #a1e6ff, #6DD5FA, #2980B9); 
  background: linear-gradient(to top, #a1e6ff, #6DD5FA, #2980B9);
}

.inputTitle {
  color: white;
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.formContainer {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.primerFormContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
}

.checkboxContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.secondFormContainer {
  display: flex;
  gap: 15px;
  padding: 5px;
}

.datesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.mapContainer {
  width: 500px;
  height: 300px;
  max-height: 300px;
}

.descriptionContainer {
  display: flex;
  gap: 15px;
}

.displayFlex {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.labelStyle {
  font-size: 22px;
  color: white;
  cursor: pointer;
}

.optional {
  font-size: 18px;
}

.inputFormStyle {
  border: 2px solid transparent;
  font-size: 16px;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}
.inputFormStyle:hover,
.inputFormStyle:focus {
  border: 2px solid #4a4aec;
  box-shadow: 0px 0px 0px 7px rgba(74, 93, 236, 0.2);
  background-color: white;
}

.textAreaStyle {
  resize: none;
  border: 2px solid transparent;
  font-size: 16px;
  width: 30em;
  height: 6em;
  padding-left: 0.4em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}
.textAreaStyle:hover,
.textAreaStyle:focus {
  border: 2px solid #4a4aec;
  box-shadow: 0px 0px 0px 7px rgba(74, 93, 236, 0.2);
  background-color: white;
}

.tituloPrincipal {
  color: white;
  font-size: 34px;
  font-weight: bold;
}
.tituloPrincipalContainer {
  text-align: center;
}

.dateInput {
  width: 300px;
  height: 30px;
}

.button {
  border: 2px solid #3b8ee6;
  background-color: #3b8ee6;
  border-radius: 0.9em;
  padding: 0.5em 1.2em 0.5em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  cursor: pointer;
}

.button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.button:hover {
  background-color: #0256b2;
}

.buttonContainer {
  position: absolute;
  bottom: 5px;
  left: 100px;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputTitle {
  margin-right: 10px;
}

.customFileInput {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.customFileInput input[type="file"] {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}

.customFileInputLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid #5900ff95;
  color: white;
  background-color: #5900ff69;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.imageIcon {
  margin: 0;
  padding: 0;
}

.customFileInputLabel:hover {
  background-color: #0057b39f;
  border-color: #0056b3;
}

.fileName {
  font-size: 18px;
  color: #ffffff;
  margin-left: 10px;
}

.checkboxInput {
  padding: 5px;
}

.imagePicked {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.datePicked {
  color: white;
  font-size: 16px;
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
  .formContainer {
    width: 90%;
  }

  .mapContainer {
    width: 100%;
  }

  .dateInput {
    width: 100%;
  }

  .textAreaStyle {
    width: 100%;
  }

  .buttonContainer{
    position: inherit;
    left: 35px;
  }
}

@media (max-width: 768px) {
  .secondFormContainer {
    flex-direction: column;
  }

  .mapContainer {
    width: 100%;
    height: 200px;
  }

  .buttonContainer {
    position: relative;
    left: 0;
    margin-top: 30px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .inputTitle {
    font-size: 20px;
  }

  .labelStyle {
    font-size: 18px;
  }

  .optional {
    font-size: 14px;
  }

  .textAreaStyle {
    width: 100%;
  }

  .inputFormStyle {
    width: 100%;
  }

  .button {
    width: 100%;
    padding: 10px;
  }

  .button span {
    justify-content: center;
  }

  .customFileInputLabel {
    padding: 10px;
  }

  .dateInput {
    width: 100%;
  }

  .mapContainer {
    height: 150px;
  }

  .formContainer {
    width: 100%;
    padding: 10px;
  }
}