.container{
  position: relative;
}

.selectContainer{
  text-align: center;
  
}

.titleSelect {
  font-size: 24px;
  color: black;
  font-weight: 700;
}

.select{
  padding: 5px;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;

}
.title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 2rem;
}

.titleContainer{
  margin-top: 50px;
  height: 300px;

}
