
.container {
  width: calc(100%);
}

.container img {
  width: 100%;
  height: auto;
  border-radius: 12px 12px 0 0;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

.containertext {
  padding: 0px 1rem 1rem 1rem;
}

.title {
  padding: 4px 4px 4px 0px;
  margin: 0;
  font-weight: 700;
}