@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.calendarContainer{
    font-family: 'Montserrat', sans-serif;
    height: 500;
    width: 500;
}
.rbc-month-view{
    min-height: 500px;
}