.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
    background-color: beige;
    

}

.link{
  color: black;
  font-size: 24px;
  font-weight: 500;
}

.popup .leaflet-popup-content-wrapper .leaflet-popup-content{
  margin: 0 !important;
}